<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Water css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

  <!-- Prism theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.css">
  <!-- Prism toolbar -->
  <link rel="stylesheet" href="/css/prism-toolbar.css">
  
</head>
<body>
  {{ content }}
  <script src="/js/prism.js"></script>
  <script src="/js/prism-toolbar.js"></script>
  <script src="/js/prism-copy-to-clipboard.js"></script>

  <!-- Copy Box web component for copying plain text -->
  <script src="/public/js/copy-box.js"></script>
</body>
</html>